.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.header {
  flex: 0 0 auto;
  background-color: white;
  color: white;
  padding: 20px;
}

.content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 454px;
}

.content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.footer {
  text-align: left;
  padding: 10px 10px 10px 30px;
  background-color: black;
  /* color: white; */
  color: #7d7c7c;
  font-size: 13px;
}